.popup-back {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 0.5;
}
.popup {
	position: fixed;
	top: 120px;
	left: 300px;
	background-color: White;
	border: 1px solid Gray;
	border-top-color: #ddd;
	border-left-color: #ddd;
	min-width: 250px;
}

.popup .head {
	text-align: right;
	border-bottom: 1px solid #ddd;
	background-color: #f0f0f0;
	padding-right: 4px;
}

.popup .content {
	padding: 3px;
}